{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
    <h1>Games</h1>
    <p class="important">
      Welcome to the History of Hangman!
    </p>

     <h1>COVER</h1>
    <p class="important">
      <img src=https://scontent-lax3-1.xx.fbcdn.net/v/t1.0-1/c32.0.281.281a/18855_272668808374_3379066_n.jpg?_nc_cat=109&ccb=2&_nc_sid=dbb9e7&_nc_ohc=KTPxkHAp2JoAX92pLzq&_nc_ht=scontent-lax3-1.xx&oh=b20ae1154e06cc548b124335d72af416&oe=5FBC4DBF alt="W3Schools.com" style="width:344px;height:281px;;">
    </p>
{% endblock %}
  